*.iml
.gradle
/local.properties

# 签名相关（本地密钥）
app/keystore/
*.jks
# *.keystore  # 保留在仓库中

# Gradle 配置
gradle.properties

# App 构建产物
app/build/

# IDE
.idea/
.claude/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin